
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="col-lg-12">
        <h1 class="page-header">
           <small>İstatikler</small>
        </h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.YorumSayisi</div>
                                <div>Yorum Sayısı</div>
                            </div>
                        </div>
                    </div>
                    <a href="/AdminYorum/Index/">
                        <div class="panel-footer">
                            <span class="pull-left">Detaylar</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-dashboard fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.MakaleSayisi</div>
                                <div>Toplam Makale</div>
                            </div>
                        </div>
                    </div>
                    <a href="/AdminMakale/Index/">
                        <div class="panel-footer">
                            <span class="pull-left">Detaylar</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comment fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.KategoriSayisi</div>
                                <div>Kategori Sayısı</div>
                            </div>
                        </div>
                    </div>
                    <a href="/AdminKategori/Index/">
                        <div class="panel-footer">
                            <span class="pull-left">Detaylar</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.UyeSayisi</div>
                                <div>Üye Sayısı</div>
                            </div>
                        </div>
                    </div>
                    <a href="/AdminUye/Index">
                        <div class="panel-footer">
                            <span class="pull-left">Detaylar</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </div>
